.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 20%; /* 화면 크기의 약 5분의 1 */
    margin: 0 auto;
}

input, button {
    margin: 8px;
    padding: 10px;
    width: 100%;
}

.register-button {
    background-color: transparent;
    color: blue;
    border: none;
    cursor: pointer;
    text-decoration: underline;
}
