.player-area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    top: -78%;
    left: 2%;
    gap: 10px;
    height: 250px;
    width: 90%;
    border: 1px solid black;
    background: radial-gradient(circle, #1f99e6, #9dc5dd 99%);
}

.gate-area {
    width: 30%;
    height: 170px;
    border: 1px solid black;
    position: inherit;
}
.gate-area .card-image {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    object-fit: cover;
}
.player-area .resource-cards {
    flex-direction: row;
    display: flex;
    justify-content: center;
    gap : 5px;
    margin: 5px 0;
    align-items: flex-end;
    width: 40%;
    height: 80%;
    border: 1px solid black;
}

.player-area .score {
    width: 40%;
    height: 50px;
    position: absolute;
    z-index: 1;
    font-size: 34px;
    left:43%;
    top:30%;
}

.player-area .function-cards {
    border: 1px solid black;
    width: 30%;
    height: 90%
}

.player-area .score-area {
    width: 10%;
    height: 48%;
    font-family: 'Ambient', sans-serif;
    font-size: 34px;
    font-weight: bold;
    color:   #E0FFFF;
    text-shadow:  0 0 5px #006666;
    border-radius: 10px; /* 모서리 둥글게 */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    top: -20%;
    left: 0.3%
}

.resource-card {
    height: 140px; /* 카드의 기본 높이 */
    width: 100px;  /* 카드의 기본 너비, 필요에 따라 조정 가능 */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* 카드가 틀을 넘지 않도록 자르기 */
    position: relative;
}

.player-area .resource-cards .card-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* 이미지 비율에 맞게 크기 조절 */
    position: absolute; /* 이미지 위치를 절대적으로 지정하여, 카드 영역 안에서 비율에 맞게 조정 */
}
