.player-area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    top: -78%;
    left: 2%;
    gap: 10px;
    height: 250px;
    width: 90%;
    border: 1px solid black;
    background: radial-gradient(circle, #1f99e6, #9dc5dd 99%);
}

.gate-area {
    width: 30%;
    height: 170px;
    border: 1px solid black;
    position: inherit;
}

.player-area .resource-cards {
    width: 40%;
    height: 80%;
    border: 1px solid black;
}

.player-area .score {
    width: 40%;
    height: 50px;
    position: absolute;
    z-index: 1;
    font-size: 34px;
    left:43%;
    top:30%;
}

.player-area .function-cards {
    border: 1px solid black;
    width: 30%;
    height: 90%
}

.player-area .score-area {
    width: 10%;
    height: 48%;
    font-family: 'Ambient', sans-serif;
    font-size: 34px;
    font-weight: bold;
    color:   #E0FFFF;
    text-shadow:  0 0 5px #006666;
    border-radius: 10px; /* 모서리 둥글게 */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    top: -20%;
    left: 0.3%
}
